<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Banking Page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkalami&family=Grenze+Gotisch:wght@800&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
         crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
   
    <img src="n3.jpg" alt="">

    <div class="main">

        <center>
            <i class="fa-solid fa-building-columns fa-4x"></i>
            <h1 id="h1_main">MeraBank</h1>
           
        </center>

        <div class="nav">

            <ul>
                <button class="btn">Home</button>
                <button class="btn"><a href="table" style="text-decoration: none; color:black">View all Customers</a></button>
                <button class="btn"><a href="transactions" style="text-decoration: none; color:black">Transaction History</a></button>

            </ul>
        </div>
    </div>
    <div class="bdy">
        Welcome to our Bank.
        <br>
        Do what you want with just a single website with all ease and comfort.
        <br>
        Hope to provide the best solutions for all your needs.
    </div>
   
</body>

</html>